/*this code selects the nested paragraph (p) */

/*
.wrapper {
    .main {
        .container {
            .article {
                .post {
                    color: blue;
                }
            }
        }
    }
}
*/
/* this is to select the main div within the parent wrapper*/
/* the ampersand sign (&) signifies that wrapper is teh parent of main*/

.main {
    .wrapper & {
        background-color: yellow;
        width: 400px;
        height: 400px;
    }
}

/*here we select the Paragragh ... NOTICE how font is written ONCE! followed by font family, wieght etc...*/

p {
    font: {
        family: open-sans;
        size: 30px;
        weight: 500;
    }
   
/*here we select the text ... NOTICE how text is written ONCE! followed by align transform, etc...*/

    
    text: {
        align: center;
        transform: uppercase;
    }
}

/*here we select the text ... NOTICE how background is written ONCE! followed by size, repeat, etc...*/

%backgroundImage {   /* The % denotes a PLACEHOLER*/
    background: {
         size: cover;
         position: center center;
         repeat: no-repeat;
    }
}

div {
    @extend %backgroundImage; /* Here we use @extend to extend the properties of the background */
}                             /* into the container, so when it is complied, container will have */
                              /* have the properties too */
                              
.container {   
    background-image: url("https://dummyimage.com/450x250/f00/fff");
}

.article {
    background-image: url("https://dummyimage.com/450x250/000/fff");
}
         
.post {
    background-image: url("https://dummyimage.com/450x250/ddd/fff");

}         